#rectangle{
    width: 1100px;
    height:50px;
    border: 2px solid black;
}

#rectangle2 {
    width: 1100px;
    height:50px;
    background-color: rgb(95, 38, 95);

    animation-name: rectangle2 ;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    &:hover{
        animation-play-state: paused;
    }
  
}

@keyframes rectangle2 {
    from {
    
      width: 0%;
    }
  
    to {
     width: 100%;
    }
}